.navbar{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 99;
}
.number_ticked{
	position: relative;
}
.number_ticked:after{
	content: '';
	display: block;
	height: 90%;
	width: 90%;
	border:red 2px solid;
	position: absolute;
	top:5%;
	left:5%;
	border-radius: 50%;
}
.ticket-table td{
	text-align: center;
	/*min-width: 30px;*/
	/*min-height: 30px;*/
	height: 40px;
	width: 30px;
	line-height: 30px;
}
.dataTables_filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.dataTables_length label,.dataTables_filter label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.dataTables_filter label input{
	margin-left: 10px;
	margin-right: 10px;
}
.dataTables_length label select{
	max-width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}
.dataTables_filter label{
	width: 100%;
}
div.dataTables_wrapper div.dataTables_length label{
	justify-content: flex-end;
}
div.dataTables_wrapper div.dataTables_info{
	text-align: left;
}

@media (max-width: 768px){
	.dataTables_filter label,div.dataTables_wrapper div.dataTables_length label{
		justify-content: center;
	}	
	div.dataTables_wrapper div.dataTables_info{
		text-align: center;
	}
	div.dataTables_wrapper div.dataTables_paginate{
		margin-bottom: 30px;
	}
}